[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-address = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pytest = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
