{% extends 'base.html' %} 
{% load static %}

{% block head-extensions %}
<!-- leaflet style -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<!-- leaflet bundle -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock head-extensions %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-5" id="farm-info">
      <h1>{% block title %} {{ field.field_name }} {% endblock title %}</h1>
      <p class=" text-muted">Farm: <a href="{% url 'farm_detail' field.farm.pk  %}">{{ field.farm.name }}</a></p>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-3", id="fields-list">
      <h3>Attributes:</h3>
      <ul>
        <li>Long: {{ specs.longitude }}</li>
        <li>Lat: {{ specs.latitude }}</li>
        <li>Area: {{ specs.area }} ha</li>
      </ul>
    </div>
    <div class="col-lg-9", id="farm-map">
        {{ geojson|json_script:"geojson-data" }}
        <div id="map"></div>
        <script src="{% static 'map.js' %}"></script>
    </div>
    <div class="col-md-3", id="field-data">
      <h3>Data:</h3>
  </div>
  </div>
    
</div>

<style>
    .container {
      margin-left: 0;
      margin-right: 0;
    }
    
    #map {
      position: inherit;
      top:0; 
      bottom:0; 
      right:0; 
      left:0;
      height: 500px; 
      width: 100%;
    }

    #farm-info{
        background-color: #bee9f7;
    }
</style>

{% endblock content %}