[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-address = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
django-cors-headers = "*"
markdown = "*"
django-filter = "*"
pytest = "*"
requests = "*"
pytz = "*"
django-storages = {extras = ["google"], version = "*"}

[dev-packages]
pylint = "*"
pylint-django = "*"
isort = "*"

[requires]
python_version = "3.8"
